.fb-share-button {
	transform: scale(2);
}
.twitter-share-button {
	transform: scale(2);
}
.fb-marg {
	margin-right: 50px;
}
.tw-marg {
	margin-left: 50px;
}
.fb_iframe_widget_fluid {
    display: block !important;
}
.non-profit-text {
	font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  font-weight: 400;
  text-align: center;
}
.non-profit-div {
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
}

@media (max-width: 479px) {
	.fb-share-button {
		transform: scale(1);
	}
	.twitter-share-button {
		transform: scale(1);
	}
	.fb-marg {
		margin-right: 20px;
	}
	.tw-marg {
		margin-left: 20px;
	}
	.email-signup-blk {
		margin-top: 50px;
	}
	.white-txt.white-txt-header-size {
    font-size: 32px;
	}
	.section.video-sect {
    margin-bottom: 0px;
	}
	.h2-txt.h2-center {
		font-size: 24px;
	}
	.non-profit-text {
	  padding-top: 0px;
	}
	.non-profit-div {
		padding-left: 20px;
		padding-right: 20px;
	}
}